# Build output
/build
/classes
/out
/bin
/tmp
/*/build
/*/*/build
/*/classes
/*/out
/*/bin
/*/tmp
**/gen-java
**/gen-src

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle
.gradle

# IntelliJ
.idea
*.iml
*.iws
*.ipr
*.ids

# Eclipse
*.pydevproject
.project
.metadata
*~.nib
.classpath
.settings
.loadpath
.externalToolBuilders
*.launch
.cproject
.buildpath

# ASDF
.tool-versions

# Miscellaneous
*.orig
*.rej
*.tmp
*.bak
*.swp
*~

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

maven-repo/com/cpst/igs
target/
bin/
*.repositories
*.lastUpdated
*m2e-lastUpdated.properties
*.sha1
/.metadata/
*.factorypath
.apt_generated
.apt_generated_tests
*.log
LOG_PATH_IS_UNDEFINED
.history

#local gradle path
gradle/wrapper/dists
dists

.jqwik-database

logs
log
